.btn-refresh {
    background-color: #f0f0f0;
    /* Plain light gray background */
    border: none;
    color: #333;
    /* Dark text color */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-refresh:hover {
    background-color: #e0e0e0;
    /* Slightly darker gray on hover */
}

.product-select {
    padding: 5px;
}

.products-container {
    padding: 20px;

}

.product-title {
    font-size: 16px;
    font-weight: 500;
}


.product-image {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    object-fit: cover;
    padding: 5px;
    border: 1px solid #c1c0c0;
}

table {
    border-collapse: collapse;
    border: 1px solid #f1f0f0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 100%;
    display: block;
    overflow: auto;
    height: 400px;
}

thead {
    position: sticky;
    top: 0;
    background: white;
    text-align: left;
}

th {
    text-align: left;
    padding: 16px 8px;
    border-bottom: 1px solid #f1f0f0;
    text-align: center;
}

td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #f1f0f0;
    text-align: center;
}

/* 
.prodcut-select-cell {
    position: sticky;
    left: 0;
} */

tr:nth-child(even) {
    background-color: #f0f0f0
}

/* rating stars */

.star-rating {
    --percent: calc(var(--rating) / 5 * 100%);
    --star-size: 1.5rem;
    --star-color: #fff;
    --star-background: #fc0;

    display: inline-block;
    font-size: var(--star-size);
    color: var(--star-color);
    background: var(--star-background);
    background-clip: text;
    font-family: Times;
    line-height: 1;

    &::before {
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.ratings-count {
    text-align: left;
    font-size: 14px;
}

/* rating stars */
/* 
.products-list-container {
    display: none;
}

@media screen and (max-width: 762px) {
    .products-table-container {
        display: none;
    }

    .products-list-container {
        display: block;
    }
} */